{% extends "../base.html" %}
{% load static %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="auth-container">
<form method="post" class="auth-form">
    {% if validlink %}
    {% csrf_token %}
    <h2>Восстановление пароля</h2>
        <p><strong>{{ form.user.get_username }}</strong>, введите новый пароль</p>
      {{ form.new_password1.errors }}
      {{ form.new_password2.errors }}
      Новый пароль: {{ form.new_password1 }}
      Подтвердите пароль: {{ form.new_password2 }}
    <button type="submit">Изменить пароль</button>
    {% else %}
        <h2>Восстановление пароля</h2>
        <p>Ссылка на восстановление пароля недействительна, возможно она уже была использована. 
            Пожалуйста, сделайте запрос на восстановление пароля повторно.</p>
        <div class="d-flex main-buttons">
            <a href="{% url 'password_reset' %}" class="main-btn">Восстановить пароль</a>
        </div>
    {% endif %}
</form>

{% endblock %}
