{% extends "../base.html" %}
{% load static %}

{% block title %}Восстановление пароля{% endblock %}
{% block content %}
<div class="auth-container">
    <form method="post" class="auth-form">
        {% csrf_token %}
        <h2>Восстановление пароля</h2>
        <h3>Ваш пароль успешно восстановлен!</h3>
        <p>Теперь вы можете войти.</p>
        <div class="d-flex main-buttons">
            <a href="{% url 'login' %}" class="main-btn">Войти</a>
        </div>
    </form>
</div>
{% endblock %}
