{% extends "../base.html" %}
{% load static %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
    <div class="auth-container">
        <form method="post" class="auth-form">
            {% csrf_token %}
            <h2>Изменение пароля</h2>
            {{ form.old_password.errors }}
            Старый пароль: {{ form.old_password }}
            
            {{ form.new_password1.errors }}
            {{ form.new_password2.errors }}
            Новый пароль: {{ form.new_password1 }}
            Подтверждение пароля: {{ form.new_password2 }}

            <button type="submit">Изменить пароль</button>
            Забыли пароль? <a href="{% url 'password_reset' %}" class="book-genre">Восстановить пароль</a>
        </form>
    </div>
{% endblock %}
