{% extends "../base.html" %}
{% load i18n static %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="auth-container">
    <form method="post" class="auth-form">
        {% csrf_token %}
        <h2>Восстановление пароля</h2>
        <p>Для восстановления пароля укажите e-mail, привязанный к вашему аккаунту.</p>
          {{ form.email.errors }}
          Email: {{ form.email }}
          
        <button type="submit">Восстановить пароль</button>
    </form>
</div>

{% endblock %}
