{% extends "../base.html" %}
{% load static %}
{% load query_tags %}

{% block title %}
{% if '/author/' in request.path %}
    {{ author.shortname }}: все книги
{% elif '/genre/' in request.path %}
    {{ genre }}: все книги
{% elif '/recommendations/' in request.path %}
    Рекомендации
{% elif '/read_books/' in request.path %}
    Прочитанные книги
{% elif '/saved_books/' in request.path %}
    Закладки
{% elif '/rated_books/' in request.path %}
    Оценённые книги
{% else %}
    Список книг
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <!-- Левый блок: карточки книг -->
    <div class="col-lg-9">
        <div id="books-container" class="row g-4">
        {% if '/author/' in request.path %}
            <h1 class="book-title">{{ author.fullname }}: все книги</h1>
        {% elif '/genre/' in request.path %}
            <h1 class="book-title">{{ genre }}: все книги</h1>
        {% elif '/read_books/' in request.path %}
            <h1 class="book-title">Прочитанные книги</h1>
        {% elif '/saved_books/' in request.path %}
            <h1 class="book-title">Закладки</h1>
        {% elif '/rated_books/' in request.path %}
            <h1 class="book-title">Оценённые книги</h1>
        {% elif '/recommendations/' in request.path %}
            <h1 class="book-title">Книги, рекомендованные вам</h1>
        {% elif request.GET.q %}
            {% if book_list %}
            <h5 class="book-title">Результаты поиска по запросу: «{{ request.GET.q }}»
                <a style="font-weight: normal;" href="{{ request.path }}" class="body-btn ms-2">Очистить поиск</a></h5>
            {% else %}
                <p class="book-title">По запросу «{{ request.GET.q }}» ничего не найдено.
                    <a style="font-weight: normal;" href="{{ request.path }}" class="body-btn ms-2">Очистить поиск</a></p>
            {% endif %}
{#            <a href="{{ request.path }}" class="body-btn ms-2">Очистить поиск</a>#}
        {% else %}
            <h1 class="book-title">Книги</h1>
        {% endif %}
            {% for book in book_list %}
            <div class="col-md-6 col-lg-3">
                <div class="card h-100">
                    <a href="{% url 'books:detail' book.id %}">
{#                    {% if book.poster %}#}
{#                        <img src="{{ book.poster.url }}" class="card-img-top" alt="{{ book.title }}">#}
{#                    {% else %}#}
{#                        <div class="card-poster-empty">#}
{#                            <i class="bi bi-book"></i>#}
{#                        </div>#}
{#                    {% endif %}#}
                        {% if book.poster %}
                            <img src="{{ book.poster.url }}"
                                 class="card-img-top book-poster-img"
                                 alt="{{ book.title }}"
                                 onerror="this.onerror=null; handleImageError(this);">

                            <div class="card-poster-empty d-none fallback-poster">
                                <i class="bi bi-book"></i>
                            </div>
                        {% else %}
                            <div class="card-poster-empty">
                                <i class="bi bi-book"></i>
                            </div>
                        {% endif %}
                    </a>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">
                            <a href="{% url 'books:detail' book.id %}">{{ book.title }}</a>
                        </h5>
                        <p class="card-text">
                            <a href="{% url 'books:author' book.author.id %}">{{ book.author.shortname }}</a>
                        </p>
                        <p class="card-text text-muted">
                            {{ book.release_year }}
{#                        score книги, на время разработки  #}
                            {% if '/recommendations/' in request.path and book.recommend_score %}
                            <span style="color: #888; font-size: 0.9em; margin-left: 8px;">
                                (score: {{ book.recommend_score|floatformat:2 }})
                            </span>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Правый блок: фильтры и сортировки -->
    <div class="col-lg-3">
    {% if request.user.is_staff %}
    {% if '/author/' in request.path %}
        <button type="button" class="body-btn" onclick="window.location.href='{% url 'books:author_edit' author.id %}'">
            <i class="bi bi-pencil-square"></i>
            Изменить автора
        </button>
    {% elif '/genre/' in request.path %}
        <button type="button" class="body-btn" onclick="window.location.href='{% url 'books:genre_edit' genre.slug %}'">
            <i class="bi bi-pencil-square"></i>
            Изменить жанр
        </button>
    {% else %}
        <button type="button" class="body-btn" onclick="window.location.href='{% url 'books:book_create' %}'">
            <i class="bi bi-plus"></i>
            Добавить книгу
        </button>
    {% endif %}
    {% endif %}
        <h5>Сортировка</h5>
        {% if '/recommendations/' in request.path %}
        <li class="btn sort-btn">
{#            <a href="?sort=score&dir={% if current_sort == 'score' and current_dir == 'asc' %}desc{% else %}asc{% endif %}">#}
{#                По релевантности#}
{#                {% if current_sort == "score" %}#}
{#                    <i class="bi {% if current_dir == 'asc' %}bi-arrow-up{% else %}bi-arrow-down{% endif %}"></i>#}
{#                {% endif %}#}
{#            </a>#}
            <a href="?{% query_transform sort='score' dir=score_next_dir %}">
                По релевантности
                {% if current_sort == "score" %}
                    <i class="bi {% if current_dir == 'asc' %}bi-arrow-up{% else %}bi-arrow-down{% endif %}"></i>
                {% endif %}
            </a>
        </li>
        {% endif %}
        <ul class="list-group">
            <li class="btn sort-btn">
                <a href="?{% query_transform sort='title' dir=title_next_dir %}">
                    По названию
                    {% if current_sort == "title" %}
                        <i class="bi {% if current_dir == 'asc' %}bi-arrow-up{% else %}bi-arrow-down{% endif %}"></i>
                    {% endif %}
                </a>
            </li>
            <li class="btn sort-btn">
                <a href="?{% query_transform sort='avg_rating' dir=avg_rating_next_dir %}">
                    По рейтингу
                    {% if current_sort == "avg_rating" %}
                        <i class="bi {% if current_dir == 'asc' %}bi-arrow-up{% else %}bi-arrow-down{% endif %}"></i>
                    {% endif %}
                </a>
            </li>
            <li class="btn sort-btn">
                <a href="?{% query_transform sort='ratings_count' dir=ratings_count_next_dir %}">
                    По кол-ву оценок
                    {% if current_sort == "ratings_count" %}
                        <i class="bi {% if current_dir == 'asc' %}bi-arrow-up{% else %}bi-arrow-down{% endif %}"></i>
                    {% endif %}
                </a>
            </li>
            <li class="btn sort-btn">
                <a href="?{% query_transform sort='release_year' dir=year_next_dir %}">
                    По году выхода
                    {% if current_sort == "release_year" %}
                        <i class="bi {% if current_dir == 'asc' %}bi-arrow-up{% else %}bi-arrow-down{% endif %}"></i>
                    {% endif %}
                </a>
            </li>
        </ul>

        <form method="get" class="mb-4">
        {% for field in filter.form %}
            <div class="mb-4 filter-group">
                <h5>{{ field.label }}</h5>

                <!-- Поиск внутри списка -->
                <input type="text"
                       class="form-control form-control-sm mb-2 filter-search-input"
                       placeholder="Поиск..."
                       data-target="{{ field.name }}-list">

                <!-- Контейнер с прокруткой -->
                <div class="filter-scroll-container" id="{{ field.name }}-list">
                    {{ field }}
                </div>
            </div>
        {% endfor %}

        <button type="submit" class="body-btn">Применить</button>
        <a href="{{ request.path }}" class="body-btn ms-2">Сбросить</a>
        </form>
    </div>

{% if page_obj.has_next %}
<div class="text-center mt-4">
    <button id="load-more"
            data-next="{{ page_obj.next_page_number }}"
            class="body-btn btn">
        Загрузить ещё
    </button>
</div>
{% endif %}
</div>

<script src="{% static "js/main.js" %}"></script>
{% endblock %}
