{% extends "base.html" %}
{% load static %}

{% block title %}
Главная
{% endblock %}

{% block content %}
<div class="container text-center py-5" style="max-width: 900px;">

    <!-- Описание сайта -->
    <section class="mb-5">
        <img src="{% static 'img/logo.png' %}" alt="Logo" class="main-page-img mb-3">
        <h1 class="mb-3" style="color: #250f00">Погрузитесь в удивительный мир книг</h1>
       <p class="lead text-muted">
             Книги — это не просто истории. Это путешествия, идеи, эмоции и вопросы, которые остаются с нами надолго.
             Это пространство для мыслей, наблюдений и внутренних диалогов. Иногда они помогают лучше понять мир,
             иногда — самого себя.
             На нашем сайте вы можете собрать свою личную библиотеку, ведя список прочитанных книг, а также открывать новые произведения.
        </p>
        <p class="text-muted">
        Ничего лишнего — только книги и ваш читательский путь.
        </p>
    </section>

    <!-- Возможности сайта -->
    <section class="mb-5">
    <h2 class="mb-4">Возможности сайта</h2>

    <div class="row justify-content-center g-4">

        <div class="col-md-4">
            <div class="card h-100 shadow-sm feature-card">
                <div class="card-body">
                    <i class="bi bi-search fs-2"></i>
                    <h5 class="custom-card-title">Выбор книг</h5>
                    <p class="text-muted">
                        Путешествуйте по каталогу, открывая авторов и жанры,
                        которые окажутся вам по-настоящему интересны
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100 shadow-sm feature-card">
                <div class="card-body">
                    <i class="bi bi-funnel-fill fs-2"></i>
                    <h5 class="custom-card-title">Сортировка и фильтрация</h5>
                    <p class="text-muted">
                        Наводите порядок в многообразии книг,
                        выбирая только то, что хочется именно вам
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100 shadow-sm feature-card">
                <div class="card-body">
                    <i class="bi bi-star-fill fs-2"></i>
                    <h5 class="custom-card-title">Оценки</h5>
                    <p class="text-muted">
                        Делитесь впечатлениями и отмечайте,
                        какое место книга заняла на вашей полке
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100 shadow-sm feature-card">
                <div class="card-body">
                    <i class="bi bi-bookmark-fill fs-2"></i>
                    <h5 class="custom-card-title">Закладки</h5>
                    <p class="text-muted">
                        Сохраняйте книги, к которым хочется вернуться,
                        даже если сейчас не время.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100 shadow-sm feature-card">
                <div class="card-body">
                    <i class="bi bi-check2-circle fs-2"></i>
                    <h5 class="custom-card-title">Прочитанные книги</h5>
                    <p class="text-muted">
                        Отмечайте прочитанные книги
                        и наблюдайте, как растёт ваша читательский опыт
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100 shadow-sm feature-card">
                <div class="card-body">
                    <i class="bi bi-lightbulb-fill fs-2"></i>
                    <h5 class="custom-card-title">Рекомендации</h5>
                    <p class="text-muted">
                        Получайте персональные подборки книг,
                        которые не оставят вас равнодушными
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>

    <!-- Статистика -->
    <section class="mb-5">
    <h2 class="mb-4">Статистика сайта</h2>

    <div class="row justify-content-center g-4">

        <div class="col-md-3 col-sm-6">
            <div class="card h-100 shadow-sm border-0 feature-card">
                <div class="card-body text-center">

                    <h3 class="mt-2">{{ books_count }}</h3>
                    <h5 class="text-muted mb-0"><i class="bi bi-book"></i> Книг</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="card h-100 shadow-sm border-0 feature-card">
                <div class="card-body text-center">
                    <h3 class="mt-2">{{ authors_count }}</h3>
                    <h5 class="text-muted mb-0"><i class="bi bi-pencil"></i> Авторов</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="card h-100 shadow-sm border-0 feature-card">
                <div class="card-body text-center">
                    <h3 class="mt-2">{{ genres_count }}</h3>
                    <h5 class="text-muted mb-0"><i class="bi bi-feather"></i> Жанров</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="card h-100 shadow-sm border-0 feature-card">
                <div class="card-body text-center">
                    <h3 class="mt-2">{{ users_count }}</h3>
                    <h5 class="text-muted mb-0"><i class="bi bi-person-circle"></i> Пользователей</h5>
                </div>
            </div>
        </div>
    </div>
</section>


    <!-- Мотивационный текст -->
    <section class="mb-4">
        <p class="lead">
            Каждая книга находит своего читателя по-разному.
            Одни приходят случайно, другие — в нужный момент.
            Важно лишь быть готовым открыть следующую страницу.
        </p>
    </section>

    <!-- Кнопки -->
    <section class="mb-5">
        <a href="{% url 'books:books' %}" class="body-btn py-2 px-3 fs-5"">
            Перейти в каталог
        </a>
    </section>
</div>
{% endblock %}
